* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
    text-align: center;
}
.content{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: calc(100vh - 150px);
    min-height: calc(100vh - 150px);
    /*justify-content: center;
    align-content: center;*/
    background-color: #22ff00;
}

.wrapper {
width: 80%;
    justify-self: center;
    align-self: center;
    background-color: antiquewhite;

}
.article {
    background-color: #8dff1b;

}


.button__reset {
    display: block;
    text-align: center;
    background-color: gainsboro;
    height: 50px;

}

.wrapper__score {
    display: block;
    text-align: center;
    background-color: gainsboro;
    height: 50px;
}